<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <title>Ingresar</title>
  </head>
  <body>
    <main class="container">
      <div class="row">
        <div class="col">
          <div class="text-center">
            <a href="/">
              <img src="views/img/isotipo.jpg" alt="logo" width="400" />
            </a>
          </div>
          <h2 class="fw-bold text-center py-2">Bienvenido</h2>

          
          <div class="container-md" style="max-width: 28rem">


<ul>
            <% if (typeof errors != 'undefined') { %> <% errors.forEach(error =>
            { %>
            <li><%= error.message %></li>
            <% }) %> <% } %>
          </ul>

          <ul class=" ">
            <% if(messages.success_msg) { %>
            <li class="alert alert-success mt-2"><%= messages.success_msg %></li>
            <% } %>
          </ul>

          <ul class="list-group list-style-none">
            <% if (messages.error) { %>
            <li class="alert alert-warning mt-2"><%= messages.error %></li>
            <% } %>
          </ul>



            <form action="/login" method="post">
              <div class="mb-4">
                <label for="email" class="form-label">Correo electronico</label>
                <input type="email" class="form-control" name="email"/>
              </div>
              <div class="mb-4">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" name="password"/>
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">
                  Iniciar sesión
                </button>
              </div>
            </form>

            <p class="loginhere pt-5">
              ¿No tienes una cuenta?
              <a href="/register">Registrate</a>
            </p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
