<%- include("templates/hearder", {titulo: "Inicio"})%>
  <body>
    <main class="container">
      <h1 class="text-center pt-5">IISAR</h1>
      <p class="text-center">Encuentra productos de la localidad</p>

      <nav class="navbar navbar-expand-lg mb-5" >
        
        <div class="container-fluid">
          <input class="btn btn-primary" type="button" value="Ingresar" onclick="location.href='/login'">
          <div class="navbar d-flex justify-content-center " >

            

            <form class="d-flex " role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Buscar"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Buscar
              </button>
            </form>
            
          </div>
        </div>
      </nav>
 
<div class="row">
       <%results.forEach((p)=> {%>

      
  <div class="col">
    <div class="card mt-5" style="width: 20rem;">
      <div class="card-body">
        <img src="https://hips.hearstapps.com/hmg-prod/images/coco-mademoiselle-perfume-chanel-1675113242.png" class="card-img-top" alt="item" style="width: 18rem;" />
        <h5 class="card-title"><%= p.product_name%></h5>
        <p class="card-text"><%= p.product_detail%></p>
        <a href="#" class="btn btn-primary">Más informacion</a>
      </div>
    </div>
  </div>
  
     


       <%})%> 
       </div>



    </main>
  </body>
</html>
