<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <title>IISAR - Inicio</title>
  </head>
  <body>
    <main class="container">
      <h1 class="text-center pt-5">IISAR</h1>
      <p class="text-center">Encuentra productos de la localidad</p>

      <nav class="navbar navbar-expand-lg mb-5" >
        
        <div class="container-fluid">
          <input class="btn btn-primary" type="button" value="Ingresar" onclick="location.href='/login'">
          <div class="navbar d-flex justify-content-center " >

            

            <form class="d-flex " role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Buscar"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Buscar
              </button>
            </form>
            
          </div>
        </div>
      </nav>

      <div class="card" style="width: 18rem">
        <img src="https://hips.hearstapps.com/hmg-prod/images/coco-mademoiselle-perfume-chanel-1675113242.png" class="card-img-top" alt="item" />
        <div class="card-body">
          <h5 class="card-title">Producto 1</h5>
          <p class="card-text">Descripcion del producto.</p>
          <a href="#" class="btn btn-primary">Más información</a>
        </div>
      </div>
    </main>
  </body>
</html>
