<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <title>IISAR - registrarse</title>
  </head>
  <body>

    <!-- list showing form input errors  -->
    <main class="container d-flex flex-column align-items-center ">
      <a href="/">
         <img src="views/img/isotipo.jpg" alt="logo"  width="400">
      </a>

      <ul >
      <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
        <li class="alert alert-danger mt-2" ><%= error.message %></li>
      <% }) %> <% } %>
    </ul>




      <form 
        action="/signup" 
        method="post">
        <div class="mb-3">
          <input 
            class="form-control"
            type="text" 
            name="name" 
            placeholder="Nombre" 
            required />
        </div>
        <div class="mb-3">
          <input 
            class="form-control"
            type="email" 
            name="email" 
            id="email" 
            placeholder="Correo electrónico" 
            required/>
        </div>
        <div class="mb-3">
          <input 
            class="form-control"  
            type="password" 
            name="password" 
            id="password" 
            placeholder="Contraseña" 
            required/>
        </div>
        <div class="mb-3">
          <input 
            class="form-control"
            type="password" 
            name="password2" 
            id="password2" 
            placeholder="Confirmar contraseña" 
            required/>
        </div>
        <input class="btn btn-primary" type="submit" value="registrarse">
      </form>
      <p class="loginhere pt-5">
        ¿Ya tienes una cuenta?
        <a href="/login">Iniciar Sesión</a>
      </p>
    </main>
  </body>
</html>
